<div class="container">
  <div class="row">
      <div class="col-md-4">
        <% if @user.avatar == nil %>
          <h1>尚無照片</h1>
        <% else %>
          <%= image_tag @user.avatar, class: "img-responsive center-block" %>
        <% end %>
      </div>
      <div class="col-md-8">
        <% if @user.name == nil %>
          <h1>未命名</h1>
        <% else %>
          <h1><%= @user.name %></h1>
        <% end %>

       <% if @user.description == nil %>
          <h3>未新增自我介紹</h3>
        <% else %>
          <h3><%= @user.description %></h3>   
        <% end %>
        <hr>
        <% if @user == current_user %>
          <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
        <% end %>
      </div>
  </div>
  <br>
  <div class="row">

    <ul class="nav nav-tabs">
      <li id="post" class="active"><a data-toggle="tab" href="#MyPost">My Post</a></li>
      <li id="comment"><a data-toggle="tab" href="#MyComment">My Comment</a></li>
      <li id="collect"><a data-toggle="tab" href="#MyCollect">My Collect</a></li>
      <li id="draft"><a data-toggle="tab" href="#MyDraft">My Draft</a></li>
      <li id="friend"><a data-toggle="tab" href="#MyFriend">My Frined</a></li>
    </ul>


    
    <div class="tab-content">
      <div id="MyPost" class="tab-pane fade in active">
        <table class="table table-striped ">
          <thead>

          </thead>
          <tbody>
            <% @posts.each do |post| %>
            <tr>
              <th scope="row"><%= post.title %></th>
              <td><%= post.situation %></td>
              <td><%= post.created_at %></td>
              <td>
                <%= link_to 'Show', post_path(post) %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Delete', post_path(post), method: :delete, data: {confirm:"Are you sure?"} %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div id="MyComment" class="tab-pane fade">
            <% @replies.each do |reply| %>
            <div id="<%= reply.id %>">
              <h4><%= reply.post.title %></h4>
              <div class="content"><p><%= reply.content %></p></div>
              <button id="<%= reply.user_id %>" type="button" class="edit-post btn btn-info" style="margin-bottom:10px;">Edit</button>
              <button id="<%= reply.user_id%>" type="button" class="delete-todo btn btn-info" style="margin-bottom:10px;">Delete</button>
            </div>
            <% end %>
      </div>

      <div id="MyCollect" class="tab-pane fade">
      </div>

      <div id="MyDraft" class="tab-pane fade">
        <table class="table table-striped ">
          <thead>

          </thead>
          <tbody>
            <% @drafts.each do |draft| %>
            <tr>
              <th scope="row"><%= draft.title %></th>
              <td><%= draft.situation %></td>
              <td><%= draft.created_at %></td>
              <td>
                <%= link_to 'Show', post_path(draft) %>
                <%= link_to 'Edit', edit_post_path(draft) %>
                <%= link_to 'Delete', post_path(draft), method: :delete, data: {confirm:"Are you sure?"} %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div id="MyFriend" class="tab-pane fade">
      </div>

    </div>

  </div>

  
</div>
<script>

  $(".edit-post").on("click", function(event){
    var id = event.target.parentNode.id;
    var u_id = event.target.id;
    console.log(id);
    $.ajax({
      url:  u_id + "/replies/" + id + "/edit",
      method: "GET",
      datatype: "json",
      success: function(data) {
        var textColumn = $("#" + data["id"]).find(".content");
        textColumn.html($("#edit-template").html());
        textColumn.find(".update-title").val(data["content"]);
        textColumn.on("click", ".update-button", function(updateEvent){
          updateEvent.preventDefault();

          $.ajax({
            url:  data["u_id"] + "/replies/" + data["id"],
            method: "PATCH",
            datatype: "json",
            data: {
                content: textColumn.find(".update-title").val()
            },
            success: function(updateData){
              var textColumn = $("#" + data["id"]).find(".content");
              textColumn.html('<p></p>');
              textColumn.find('p').html(updateData["content"]);
            }

          });
        });
      }

    });

  });

  $(".delete-todo").on("click", function(event) {
    var id = event.target.parentNode.id;
    var u_id = event.target.id;
    console.log(id);
    confirm("Are you sure?");
    $.ajax({
      url: u_id + "/replies/" + id,
      method: "DELETE",
      dataType: "json",
      success: function(data) {
        $("#" + data["id"]).remove();
      }
    });  
  });
</script>

<script type="text/template" id="edit-template">
  <form>      
    <div class="input-group">
      <input type="text-area" class="update-title form-control">
      <div class="input-group-addon">
        <button class="update-button my-btn my-btn-transparent">Update</button>
      </div>
    </div>
  </form>
</script>
