<div class="container">
  <div class="row">

    <% if @post.errors.any? %>
      <h4>We have some errors here !</h4>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_for @post do |f| %>

      <div class="form-group">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :content, "Content" %>
        <%= f.text_area :content, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :authority, "Who can see" %><br>
        <%= f.radio_button :authority, '1', :required => true %> <%= f.label :authority, 'All' %><br>
        <%= f.radio_button :authority, '2' %> <%= f.label :authority, 'Friend' %><br>
        <%= f.radio_button :authority, '3' %> <%= f.label :authority, 'Myself' %>
      </div>

      <div class="form-group">
        <div><strong>Category</strong></div>
        <% Category.all.each do |category| %>
          <%= check_box_tag "post[category_ids][]", category.id %>
          <%= category.name %><br>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.submit class: "btn btn-primary"%>
      </div>
    
    <% end %>

  </div>
</div>