<div class="row" >
  <div class="col-md-4">
    <h2 style="text-align: right;">User</h2>
    <h2 style="text-align: right;"><%= @users %></h2>

  </div>
  <div class="col-md-4">
    <h2 style="text-align: center;">Post</h2>
    <h2 style="text-align: center;"><%= @posts %></h2>

  </div>
  <div class="col-md-4">
    <h2 style="text-align: left;">Comment</h2>
    <h2 style="text-align: left;"><%= @comments %></h2>

  </div>
</div>

<div class="container" style="background-color: lightgrey;">
  <div class="row">
    <div class="col-md-6">
      <h2 style="text-align: center;">Chatterbox</h2>
        <table class="table table-striped">
          <thead>
          </thead>
          <tbody>
            <% @top_users.each do |user| %>
              <tr>
                <th><%= user.name %></th>
                <td><%= user.replies_count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

    </div>

    <div class="col-md-6">
      <h2 style="text-align: center;">Most Popular Post</h2>
        <table class="table table-striped">
          <thead>
          </thead>
          <tbody>
            <% @top_posts.each do |post| %>
              <tr>
                <th><%= post.title %></th>
                <td><%= post.updated_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

    </div>
  </div>
</div>