<div id="<%= current_user.id %>" style="border-bottom: 1px solid black;">
  <h2 style="margin-left: 20px;"><%= @post.title %></h2>
  <br>
  <% if @post.is_collected?(current_user) %>
    <button id="<%= @post.id %>" type="button" class="collect-post btn btn-info" style="margin-bottom:10px;margin-left: 20px;">Uncollect</button>
  <% else %> 
    <button id="<%= @post.id %>" type="button" class="collect-post btn btn-info" style="margin-bottom:10px;margin-left: 20px;">Collect</button>
  <% end %> 
</div>

  <div class="row" style="background-color: lightgrey;border-bottom: 1px solid black;">
    <div class="col-md-2" style="text-align: center;">
      <br>
        <%= image_tag @user.avatar, class: "img-responsive center-block", style: "width:100px;"%>
        <h4><%= link_to @user.name, user_path(@user) %></h4>
    </div>

    <div class="col-md-10" style="border-left: 1px solid black;">
      <br>
      <%= image_tag @post.image, class: "img-responsive center-block", style: "width:600px;" %>
      <br>
        <p><%= @post.content %></p>
        <% if current_user==@user %>
          <%= link_to 'Edit', post_path(@post), :class=>"btn btn-info", :style=>"margin-bottom:10px"  %>
          <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm:"Are you sure?"}, :class=>"btn btn-info", :style=>"margin-bottom:10px" %>
          <br>
        <% end %>
    </div>
    <br>
  </div>


    <% @replies.each do |reply| %>
    <div class="row" id="<%= reply.id %>" style="border-bottom: 1px solid black;">
      <br>
        <div class="col-md-2" style="text-align: center;">
            
            <%= image_tag reply.user.avatar, class: "img-responsive center-block", style: "width:100px;" %>
             <h4><%= link_to reply.user.name, user_path(reply.user) %> </h4>
            <br>
        </div>
        <div class="col-md-10">
          <h4><small><%= reply.created_at.strftime('%F') %>, <%= reply.created_at.strftime('%H:%M') %></small></h4>
          <div class="content">
            <p><%= simple_format reply.content %></p>
          </div>
            <% if current_user==reply.user || current_user==@post.user %>
              <button id="<%= reply.post_id %>" type="button" class="edit-post btn btn-info" style="margin-bottom:10px;">Edit</button>
              <button id="<%= reply.post_id %>" type="button" class="delete-todo btn btn-info" style="margin-bottom:10px;">Delete</button>        
            <% end %>
        </div>
      </div>
    <% end %>

  
  

  <div class="row" style="background-color: lightgrey;">
    <div class="container">
    <br>
    <%= form_for [@post, @reply] do |f| %>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "你想說什麼？",  class: "form-control", style: "width:100%;height:100px"  %>
      </div>
      <%= f.submit class: "btn btn-primary pull-right"%>
      <br>
      <br>
        <% if @reply.errors.any? %>
          <%= @reply.errors.full_messages.to_sentence %>
        <% end %>
    <% end %> 
    </div>
  </div>

<script>

  $(".edit-post").on("click", function(event){
    var id = event.target.parentNode.parentNode.id;
    var p_id = event.target.id;
    $.ajax({
      url: p_id + "/replies/" + id + "/edit",
      method: "GET",
      datatype: "json",
      success: function(data) {
        var textColumn = $("#" + data["id"]).find(".content");
        textColumn.html($("#edit-template").html());
        textColumn.find(".update-title").val(data["content"]);
        textColumn.on("click", ".update-button", function(updateEvent){
          updateEvent.preventDefault();

          $.ajax({
            url: data["p_id"] + "/replies/" + data["id"],
            method: "PATCH",
            datatype: "json",
            data: {
                content: textColumn.find(".update-title").val()
            },
            success: function(updateData){
              var textColumn = $("#" + data["id"]).find(".content");
              textColumn.html('<p></p>');
              textColumn.find('p').html(updateData["content"]);
            }

          });
        });
      }

    });

  });

  $(".delete-todo").on("click", function(event) {
    var id = event.target.parentNode.parentNode.id;
    var p_id = event.target.id;
    console.log(id);
    confirm("Are you sure?");
    $.ajax({
      url: p_id + "/replies/" + id,
      method: "DELETE",
      dataType: "json",
      success: function(data) {
        $("#" + data["id"]).remove();
      }
    });  
  });

  $(".collect-post").on("click", function(event){
    var id = event.target.id;
    var u_id = event.target.parentNode.id;
    $.ajax({
      url: id + "/collect",
      method: "POST",
      dataType: "json",
      data: {
        id: id,
        user: u_id
      },
      success: function(data) {
        console.log(data["id"]);
        var textColumn = $(".collect-post");
        textColumn.html(data["tag"]);

        
      }

    });
  });

  $(".uncollect-post").on("click", function(event){
    var id = event.target.id;
    var u_id = event.target.parentNode.id;
    $.ajax({
      url: id + "/uncollect",
      method: "POST",
      dataType: "json",
      data: {
        id: id,
        user: u_id
      },
      success: function(data) {
        console.log(data["id"]);
        var textColumn = $(".uncollect-post");
        textColumn.html('Collect');
        textColumn.removeClass("uncollect-post");
        textColumn.addClass("collect-post");
        
      }

    });
  });
</script>

<script type="text/template" id="edit-template">
  <form>      
    <div class="input-group">
      <input type="text-area" class="update-title form-control">
      <div class="input-group-addon">
        <button class="update-button my-btn my-btn-transparent">Update</button>
      </div>
    </div>
  </form>
</script>
