<div class="row" style="height:420px;background-image:url('https://wavefront.ca/wp-content/uploads/2017/07/DesignThinkingHeadBanner-924x420.png');">
</div>
<br>
<div class="container">
  <div class="row">
    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation" ><%= link_to "全部分類", root_path %></li>
        <% @categories.each do |category| %>
          <li role="presentation" class="<%= "active" if category == @category %>"><%= link_to category.name, category_path(category) %></li>
         <% end %>
    </ul>
    <br>

    <table id="myTable" class="table table-striped table-bordered tablesorter">
      <thead>
        <tr>
          <th>Replies count <i class="fa fa-fw fa-sort"></i></th>
          <th>Title</th>
          <th>Last replies at<i class="fa fa-fw fa-sort"></i></th> 
          <th>View <i class="fa fa-fw fa-sort"></i></th>
        </tr>
      </thead>

      <tbody>

        <%= render partial: "share/post_list" %>

      </tbody>
    </table>
    
  <div class="text-center">
    <%= paginate @posts %>
  </div>

</div>


<script type="text/javascript">
 
$(function(){

$.tablesorter.themes.bootstrap = {
    iconSortNone : 'bootstrap-icon-unsorted', // class name added to icon when column is not sorted
    iconSortAsc  : '', // class name added to icon when column has ascending sort
    iconSortDesc : '', // class name added to icon when column has descending sort
};
 
$("#myTable").tablesorter({
  // this will apply the bootstrap theme if "uitheme" widget is included
  // the widgetOptions.uitheme is no longer required to be set
  theme : "bootstrap",
  headerTemplate : '{content}    {icon}', // new in v2.7. Needed to add the bootstrap icon!

  // widget code contained in the jquery.tablesorter.widgets.js file
  // use the zebra stripe widget if you plan on hiding any rows (filter widget)
  widgets : [ "uitheme"]  

});
 

});
 

</script>