<div class="container">
 
  <div>
    <%= link_to 'Categories', admin_categories_path %> | <%= link_to 'User List', admin_users_path %>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table id="table1" data-classes="table table-hover table-striped table-bordered" data-show-columns="true" data-click-to-select="true">
        <thead>
          <tr>
            <th data-switchable="false">#</th>
            <th>Name</th>
            <th data-switchable="false">Email</th>
            <th data-visible="false">Introduction</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.description %></td>
            <td>
              <div class="form-inline" >
              <%= form_for [:admin, user] do |f| %>
              <div class="form-group">
              <%= f.collection_select :role_id, @roles, :id, :rtype, {prompt: true}, {class: "form-control"} %></div>
              <%= f.submit class: "btn btn-primary", value: 'Update'%>
              <% end %></div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center">
    <%= paginate @users %>
  </div>
</div>
<script>
$('#table1').bootstrapTable({}).on('click-row.bs.table', function (e, row, $element) {
    $('.success').removeClass('success');
    $($element).addClass('success');
});

</script>